<form [formGroup]="nameForm">
    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

        <mat-form-field appearance="legacy" fxFlex>
            <input matInput placeholder="First Name" formControlName="firstName" maxlength="20" />
            <mat-error>Please enter First Name</mat-error>
        </mat-form-field>


        <mat-form-field appearance="legacy" fxFlex>
            <input matInput placeholder="Last Name" formControlName="lastName" maxlength="20" />
            <mat-error>Please enter Last Name</mat-error>

        </mat-form-field>

    </div>

    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
        <mat-form-field appearance="legacy" fxFlex>
            <mat-label>Suffix</mat-label>
            <!-- <mat-select formControlName="suffix">
                <mat-option *ngFor="let suffix of suffixReferenceData" [value]="suffix.key">
                    {{suffix.value}}
                </mat-option>
            </mat-select> -->
            <mat-error>Please select suffix</mat-error>
        </mat-form-field>
        <mat-form-field appearance="legacy" fxFlex>
            <input matInput type="text" placeholder="Middle Name(Optional)" formControlName="middleName" />
        </mat-form-field>
    </div>

    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

        <mat-form-field appearance="legacy" fxFlex>
            <input matInput max="10" placeholder="SSN" formControlName="ssn" mask="000-00-0000" />
            <mat-error>Please enter SSN</mat-error>
        </mat-form-field>

        <mat-form-field appearance="legacy" fxFlex>
            <input matInput [matDatepicker]="myDatepicker" placeholder="Date of Birth"  formControlName="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="myDatepicker" ></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker ></mat-datepicker>
            <mat-error>Please enter Date of Birth</mat-error>

        </mat-form-field>

    </div>

    <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">

        <mat-form-field appearance="legacy" fxFlex>
            <mat-label>Citizenship</mat-label>
                <!-- <mat-select formControlName="citizenship">
                    <mat-option *ngFor="let citizenship of citizenshipReferenceData" [value]="citizenship.key">
                        {{citizenship.value}}
                    </mat-option>
                </mat-select> -->
            <mat-error>Please select citizenship</mat-error>
        </mat-form-field>
        </div>
</form>